@model ECommerceProject.Models.UserDetails
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- Font Icon -->
    <link rel="stylesheet" href="~/register/fonts/material-icon/css/material-design-iconic-font.min.css">
    <link href="~/register/fonts/material-icon/css/material-design-iconic-font.css" rel="stylesheet" />
    <!-- Main css -->
    <link rel="stylesheet" href="~/register/css/style.css">
</head>
<body>

    <div class="main">

        <!-- Sign up form -->
        <section class="signup">
            <div class="container">
                <div class="signup-content">
                    <div class="signup-form">
                        <h2 class="form-title">Sign up</h2>

                        @using (Html.BeginForm())
                        {
                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">

                        <div class="form-group">
                            <label for="name"><i class="zmdi zmdi-account material-icons-name"></i></label> 
                            @Html.EditorFor(model => model.FirstName, new { id = "name", htmlAttributes = new { @class = "form-control", @placeholder = "  First Name" , style = "width:275px; height:40px;" } })
                            @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            <label for="name"><i class="zmdi zmdi-account material-icons-name"></i></label>
                            @Html.EditorFor(model => model.LastName, new { id = "name", htmlAttributes = new { @class = "form-control", @placeholder = "  Last Name", style = "width:275px; height:40px;" } })
                            @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
                        </div>
                     
                        <div class="form-group">
                            <label for="email"><i class="zmdi zmdi-email"></i></label>
                            
                            @Html.EditorFor(model => model.Email, new { id="email",htmlAttributes = new { @class = "form-control", @placeholder = "  Your Email", style = "width:275px; height:40px;" } })
                            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })

                        </div>
                        <div class="form-group">
                            <label for="pass"><i class="zmdi zmdi-lock"></i></label>
                            @Html.EditorFor(model => model.Password, new {id="pass", htmlAttributes = new { @class = "form-control", @placeholder = "  Password", style = "width:275px; height:40px;" } })
                            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            <label for="re-pass"><i class="zmdi zmdi-lock-outline"></i></label>
                            @Html.EditorFor(model => model.ConfirmPassword, new {id="re_pass", htmlAttributes = new { @class = "form-control", @placeholder = "  Confirm Password", style = "width:275px; height:40px;" } })
                            @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group form-button">
                            <input type="submit" name="signup" id="signup" class="form-submit" value="Register" />
                        </div>
                    </div>
                                }

                            </div>
                            <div class="signup-image">
                                <figure><img src="~/register/images/signup-image.jpg" alt="sing up image"></figure>
                                <a class="signup-image-link">@Html.ActionLink("Already have an account? Sign in", "Login", "Account")</a>
                            </div>
                        </div>
                    </div>
            </section>
        </div>

        <!-- JS -->
        <script src="~/register/vendor/jquery/jquery.min.js"></script>
        <script src="~/register/js/main.js"></script>
    </body><!-- This templates was made by Colorlib (https://colorlib.com) -->
</html>




@*@model ECommerceProject.Models.UserDetails

    @{
        ViewBag.Title = "Register";
    }

    <h2>Register</h2>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4>UserDetails</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.FirstName, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-6">
                    @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.LastName, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-6">
                    @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-6">
                    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-6">
                    @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.ConfirmPassword, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-6">
                    @Html.EditorFor(model => model.ConfirmPassword, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Register" class="btn btn-default" />
                </div>
            </div>
        </div>


        <div class="text-center">
            <a href="#" class="txt2 hov1">
                @Html.ActionLink("Already have an account? Sign in", "Login", "Account")
            </a>
        </div>
    }

*@
